body {
    background-color: #e9ecf0;
}

nav {
    padding: 0 80px;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #0656f8;
    font-size: 18px;
}

nav .logo img {
    width: 100px;
    height: auto;
}

nav .logo {
    margin-right: 20px; 
}

nav .links {
    display: flex;
}

nav .link-block {
    margin-right: 20px;
    position: relative;
}

nav .links a {
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

nav .link-block {
    padding: 26.5px 10px; 
    transition: background-color 0.3s; 
}

nav .link-block:hover {
    background-color: #3a8dff; 
}

.icons {
    margin-left: auto; 
}

.icons a {
    color: #fff;
    font-size: 25px; 
    margin-left: 20px; 
    text-decoration: none;
}

.icons a:hover {
    opacity: 0.8; 
}




/* #0656f8 */